<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel"><%= title %></h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="Username" class="col-sm-3 control-label">Username</label>
			<div class="col-sm-9">
				<% if (typeof username == 'undefined') {%>
				<input type="text" class="form-control" id="Username" required placeholder="username">
				<%} else {%>
				<input type="text" class="form-control" id="Username" required value="<%= username %>" <% if (action == 'delete') {%> disabled <%}%> >
				<%} %>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="Firstname" class="col-sm-3 control-label">First Name</label>
			<div class="col-sm-9">
				<% if (typeof firstname == 'undefined') {%>
				<input type="text" class="form-control" id="Firstname" placeholder="firstname">
				<%} else {%>							
				<input type="text" class="form-control" id="Firstname" value="<%= firstname %>" <% if (action == 'delete') {%> disabled <%}%>>
				<%} %>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="Lastname" class="col-sm-3 control-label">Last Name</label>
			<div class="col-sm-9">
				<% if (typeof lastname == 'undefined') {%>
				<input type="text" class="form-control" id="Lastname" placeholder="lastname">
				<%} else {%>							
				<input type="text" class="form-control" id="Lastname" value="<%= lastname %>" <% if (action == 'delete') {%> disabled <%}%>>
				<%} %>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="Phone" class="col-sm-3 control-label">Phone</label>
			<div class="col-sm-9">
				<% if (typeof phone == 'undefined') {%>
				<input type="text" class="form-control" id="Phone" placeholder="phone">
				<%} else {%>							
				<input type="text" class="form-control" id="Phone" value="<%= phone %>" <% if (action == 'delete') {%> disabled <%}%>>
				<%} %>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="Email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<% if (typeof email == 'undefined') {%>
				<input type="text" class="form-control" id="Email" required placeholder="email">
				<%} else {%>							
				<input type="text" class="form-control" id="Email" required value="<%= email %>" <% if (action == 'delete') {%> disabled <%}%>>
				<%} %>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group">
			<% if (typeof _id != 'undefined') {%> <input type="hidden" id="_id" value="<%= _id %>"> <%} %>
		</div>
	</form>
	<div class="has-error text-center"><span class="help-block response"></span></div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	<button type="button" id="Save" class="btn <% if (action == 'delete') {%> btn-danger <%} else {%> btn-primary <%}%>">
		<% if (typeof save == 'undefined') {%>Save changes<%} else {%><%= save %><%}%>
	</button>
</div>